.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
.github/**
.nvmrc
eslint.config.cjs
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
PUBLISHING.md
node_modules/**/.github/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/src/**
node_modules/**/coverage/**
node_modules/**/benchmark/**
node_modules/**/benchmarks/**
node_modules/**/Makefile
node_modules/**/tsconfig.json
node_modules/**/tslint.json
node_modules/**/.npmignore
node_modules/**/.editorconfig
node_modules/**/.travis.yml
node_modules/**/CHANGELOG*
node_modules/**/README*
node_modules/**/readme*
